<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="article-page">
    <div class="card bg-secondary text-white">
        <div class="card-header"><h1>{{article?.title}}</h1></div>
        <div class="card-body">
           <button type="button"  class="btn btn-primary" btn-sm> + Follow {{article?.author.username}}</button>
           &nbsp;

          <button type="button" icon="fa-fa-heart" class="btn btn-primary" btn-sm> <i class="fa fa-heart"> Favourite</i></button>
        </div>
      </div>
    <br>
    <div class="container">
     <div class = "card bg-info text-white">
       <div class ="card-body"><h6>{{article?.body}}</h6></div>
     </div>
    </div>
     <hr>
     <div class ="container col-md-10" >
        <textarea id ="ta" class="form-control ng-pristine ng-valid ng-touched" placeholder="Write a comment..." rows="3" #comment> </textarea>
        <div class="card-footer"><button (click) ="postComment(comment.value)" class="btn btn-sm btn-primary" type="submit"> Post Comment </button></div>
        <br>
        <br>
        <div *ngFor="let comment of comments" class="card" style="margin:10px">
        <div class="card-header"> {{comment.body}} </div>
        <div class="card-footer">{{comment.author.username}}
          <div *ngIf="canModifyComment(comment.author.username)">
          <button (click)="deleteComment(comment.id)" class="fa fa-trash"style="float:right"></button>
        </div>
      </div>
       </div>
      </div>
    </div>
    
