.jumbotron
{
    padding-top: 0px;
    padding-bottom:0px;
    background-size: cover;
    background: contain;
    width: 100%; /* make sure to define width to fill container */
    height: 100px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
    max-width:1400px;  /* define the max width */
    text-align: center;
 }

 .favorite{
   background-color: grey;
 }

 .favorite:hover{
   background-color: RoyalBlue;
 }

 .btnfavorited{
   background-color: Blue !important;
 }
