.btn {
    background-color: grey; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.btnSelected {
  background-color: blue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 14px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
